<div id="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<%= link_to 'Editar', edit_interaction_path(@interaction) %> |
<%= link_to 'Regresar', interactions_path %>
