<p>Hola <%= @resource.email %>!</p>

<p>Da click en el link de abajo para cambiar tu contraseña.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>si tu no ordenaste el cambio, ignora este mail.</p>
<p>tu contraseña no sera cambiada hasta que clickees el link de arriba.</p>
