<!DOCTYPE html>
<html>
  <head>
    <title>DCOS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
  </head>

  <body>



  <%= yield %>
    </body>

</html>
<footer class="container-fluid bg-4 text-center">
  <p>Copyright 2017</p>
</footer>